

body {
            font-family: 'NomDeLaPolice', 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            text-align: center;
        }

        hr {
            border: 1px solid #333;
            margin: 20px 0;
        }

        h1{
            color: palevioletred;
            background-color: #eee;
            padding: 10px;
            border-radius: 5px;
        }
        
        p {
  font-family: "Times New Roman", "Times, serif";
}
        
        h2 {
            color:blueviolet;
            background-color: #eee;
            padding: 10px;
            border-radius: 5px;
        }
        

    
        a {
            text-decoration: none;
            color: #fff;
            padding: 10px 20px;
            margin: 0 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: #333;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #555;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
   
